/* HeaderElement.css */

/* Navbar container */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #8ba776; /* Background color for the header */
  padding: 10px 20px;
}

/* Logo image */
.logo-img {
  height: 3rem;
  width: auto;
  padding-left: 2.5rem;
}

/* Regular navigation menu */
.navigation ul {
  display: flex;
  list-style: none;
}

.navigation ul li {
  padding: 0 15px;
}

.navigation ul li a {
  font-size: smaller;
  font-weight: 500;
  color: #ffffff; 
  text-decoration: none;
  position: relative; 
}

/* Hover effect for regular navigation links */
.navigation ul li a::before {
  content: ""; /* Add a pseudo-element to create the hover effect */
  position: absolute;
  bottom: -2px; /* Position the pseudo-element below the text */
  left: 0;
  width: 100%;
  height: 2px; /* Set the height of the hover underline */
  background-color: #f4ce14; /* Background color for the hover underline */
  transform: scaleX(0); /* Initially, set the width of the underline to zero */
  transform-origin: left; /* Set the transformation origin to the left edge */
  transition: transform 0.2s ease; /* Smooth transition for the underline animation */
}

.navigation ul li a:hover::before {
  transform: scaleX(1); /* Increase the width of the underline to 100% on hover */
}

/* Active link style for regular navigation */
.navigation ul li .active-links.active {
  color: #495e57; /* Text color for active link */
}



