/* Mobile navigation menu */
.mobile-nav {
  display: none;
}

/* Mobile navigation styles for screens up to 768px (e.g., smartphones) */
@media screen and (max-width: 768px) {
  .mobile-nav {
    display: flex;
  }

  /* Adjust the logo image size for better responsiveness */
  .logo-img {
    height: 2.5rem;
    padding-left: 1.5rem;
  }

  /* Adjust padding for better spacing */
  .header {
    padding: 10px 15px;
  }

  /* Style mobile navigation links */
  .mobile-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
  }

  .mobile-nav ul li {
    padding: 10px;
  }

  .mobile-nav ul li a {
    font-size: smaller;
    font-weight: 500;
    color: #495e57; /* Text color for mobile navigation links */
    text-decoration: none;
  }
.mobile-nav ul li a:hover{
  color: #495e57; /* Text color for active mobile link */
  transition: transform 0.2s ease; /* Smooth transition for the underline animation */
}
  /* Active link style for mobile navigation */
  .mobile-nav ul li .active-links.active {
    color: #495e57; /* Text color for active mobile link */
  }
}
